<app-header></app-header>
<div id="sidebar-wrapper" class="sidebar-toggle">
    <ul class="sidebar-nav">
      <li>
        <a routerLink="./dashboardhome">Dashboard</a>
      </li>
      <li>
        <a routerLink="./campaign">My Campaign</a>
      </li>
      <li>
        <a routerLink="./addcontacts">Add Contacts</a>
      </li>
      <li>
        <a routerLink="./createtemplate">Create Template</a>
      </li>
      <li>
        <a routerLink="./contacts">Contacts</a>
      </li>
      <li>
        <a routerLink="./apiforms">Api & Forms</a>
      </li>
      <li>
        <a routerLink="./settings">Settings</a>
      </li>
      <li>
        <a routerLink="./help">Help</a>
      </li>
    </ul>
  </div>
  <!-- <router-outlet></router-outlet>   -->
