<div class="mycampaign-creation-section">
  <div class="row">
    <div class="col-md-12">
      <div class="mycampaign-creation-heading">
        <h2 class="head-section-title">Format that suits your business needs</h2>
        <!-- <p>Lorem ipsum dolor sit am consectetur adipiscing elit. Nullam at neque at -->
          <!-- <br> sapien ornare aliquet nec a lacus.</p> -->
      </div>
    </div>
  </div>
  <div class="row m-t-1">
    <div class="col-md-4">
      <div class="mycampaign-creation-card">
        <div class="card">
          <div class="mycampaign-card-heading">
            <h3 class="mycampaign-card-type">Html Text</h3>
          </div>
          <div class="mycampaign-creation-icon">
            <img src="/assets/images/html.png"  height="90" alt="">
            <!-- <i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i> -->
          </div>
          <div class="card-body">
            <!-- <h4 class="card-title">Card title</h4> -->
            <p class="card-text"></p>
            <div class="mycampaign-creation-button">
              <p>Coming soon</p>
              <!-- <button type="button" class="btn btn-primary">Create</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mycampaign-creation-card">
        <div class="card">
          <div class="mycampaign-card-heading">
            <h3 class="mycampaign-card-type">Rich Text Editor</h3>
          </div>
          <div class="mycampaign-creation-icon">
            <img src="/assets/images/richtext.png"  height="90" alt="">
            <!-- <i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i> -->
          </div>
          <div class="card-body">
            <!-- <h4 class="card-title">Card title</h4> -->
            <p class="card-text"></p>
            <div class="mycampaign-creation-button">
              <button type="button" class="btn btn-primary"  (click)="onRichtextButtonClick($event)">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mycampaign-creation-card">
        <div class="card">
          <div class="mycampaign-card-heading">
            <h3 class="mycampaign-card-type">Drag &amp; Drop Editor</h3>
          </div>
          <div class="mycampaign-creation-icon">
            <img src="/assets/images/dragdrop.png"  height="90" alt="">
            <!-- <i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i> -->
          </div>
          <div class="card-body">
            <!-- <h4 class="card-title">Card title</h4> -->
            <p class="card-text"></p>
            <div class="mycampaign-creation-button">
              <p>Coming Soon</p>
              <!-- <button type="button" class="btn btn btn-primary" (click)="onDragButtonClick($event)">Create</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

