<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a (click)="onLogoClick($event)" class="navbar-brand navbar-required"><img src="https://s3-us-west-2.amazonaws.com/mailgobimages/Logos/MailGob+Beta+Logo.png" alt="" height="60px;"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right user-dropdown" *ngIf="isUser">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="user-name-dropdown">
              <p>Hi,</p>
              <p>
                {{userDetails?.first_name}} 
              </p>
            </span>
            <img class="profile-picture"[src]="userDetails?.profile_pic" alt="">
            <!-- <span class="caret"></span> -->
          </a>
          <ul class="dropdown-menu">
            <li class="userid"><a>{{userDetails?.first_name}} 
              <br>({{userDetails?.ref_code}})</a></li>
            <li><a (click)="onProfileClick($event)">My Profile</a></li>
            <li><a (click)="onHelpClick($event)">Help</a></li>
            <!-- <li role="separator" class="divider"></li> -->
            <li><a class="btn btn-sm" (click)=onLogoutClick($event)>Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>