<!-- create template summary details -->
<div class="createtemplate-creation-summary">
  <div class="row">
    <div class="col-md-12">
      <div class="createcampaign-creation-heading">
        <h2>Summary</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="createtemplate-campaign-name">
        <p class="createtemplate-color">Campaign Name</p>
      </div>
    </div>
    <div class="col-md-9">
      <div class="createtemplate-campaign-name">
        <p>Lorem ipsum dolor sit am consectetur adipiscing elit. </p>
      </div>
    </div>
  </div>
  <div class="row m-t-1">
    <div class="col-md-3">
      <div class="createtemplate-campaign-name">
        <p class="createtemplate-color">Subject</p>
      </div>
    </div>
    <div class="col-md-9">
      <div class="createtemplate-campaign-name">
        <p>Lorem ipsum dolor sit am consectetur adipiscing elit. </p>
      </div>
    </div>
  </div>
  <div class="row m-t-1">
    <div class="col-md-3">
      <div class="createtemplate-campaign-name">
        <p class="createtemplate-color">From</p>
      </div>
    </div>
    <div class="col-md-9">
      <div class="createtemplate-campaign-name">
        <p>Lorem ipsum dolor sit am consectetur adipiscing elit. </p>
      </div>
    </div>
  </div>
  <div class="row m-t-1">
    <div class="col-md-3">
      <div class="createtemplate-campaign-name">
        <p class="createtemplate-color">Template</p>
      </div>
    </div>
    <div class="col-md-9">
      <div class="createtemplate-campaign-name">
        <p>HTML Text</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="createtemplate-selected-list" style="display:inline-flex;">
        <p>Selected list</p>
        <p class="createtemplte-list">(02 List Selected)</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="createtemplate-selectedlist-button">
        <button type="button" class="btn btn-primary">MailGob Beta Released</button>
        <button type="button" class="btn btn-primary">MailGob Beta Released version 2.0</button>
      </div>
    </div>
  </div>
  <div class="row m-t-2">
    <div class="col-md-2">
      <div class="createtemplate-savedraft">
      <button type="button" class="btn btn-primary">Save Draft</button>
      </div>
    </div>
    <div class="col-md-2">
      <div class="createtemplate-cancel">
        <button type="button" class="btn btn-primary">Cancel</button>
        </div>
       </div>
       <div class="col-md-8 text-right">
         <div class="createtemplate-send">
          <button type="button" class="btn btn-primary">SEND</button>
          </div>
       </div>
  </div>
</div>
