<div class="container">
	<div class="reset-password-section">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="card">
					<!-- <app-alerts></app-alerts> -->
					<div *ngIf="isTokenVerified">
						<div class="reset-head-section">
							<span class="reset-lock-icon">
								<i class="fa fa-lock fa-5x"></i>
							</span>
							<h5 class="reset-title text-center">Reset Password</h5>
							<p></p>
						</div>
						<div class="reset-content">
							<div class="form-group col-centered">
								<input type="password" class="form-control" placeholder="New Password" [(ngModel)]="password">
							</div>
							<div class="form-group col-centered">
								<input type="password" class="form-control" placeholder="Confirm Password" [(ngModel)]="confirmPassword">
							</div>
							<div class="text-center">							
								<button class="btn btn-alternate" (click)="onResetPasswordClick($event)">Reset</button>
							</div>
						</div>
					</div>
					<div class="reset-error-text" *ngIf="!isTokenVerified">
						<p>Please try again.Token expired.</p>
						<a (click)="loginClick($event)">Home</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>