@import 'variables';
@import 'button';

.reset-password-section{
	margin-top: 6em;
	.card{
		padding: 25px;
		height: 425px;
		margin-top: 3em;
		// border: 1px solid black;
		border-radius: 10px;
		box-shadow: 0 0 40px 10px rgba(140, 140, 140, 0.5);
		.reset-head-section{
			margin-bottom: 25px;
			.reset-lock-icon{
				justify-content: center;
				align-items: center;
				display: flex;
				.fa{
					color: $primary-button-hover-color;
				}
			}
			.reset-title{
				font-size: 24px;
				color: $secondary-color;
			}
		}
		.reset-content{
			margin-top: 25px;
			input{
				width: 80%;
				border:none;
				border-radius: none;
				border-bottom: solid 1px #979797;
				// margin-top:10%;
				margin-left:10%;
				margin-bottom:20px;
				box-shadow: none;
				&:hover{
					border: none;
					border-bottom: solid 1px #3e8dd1;
				}
				&:focus{
					border: none;
					outline: none;
					border-bottom: solid 1px #3e8dd1;
				}
			}
			::-webkit-input-placeholder {
				text-align: left;
				color: $input-placeholder-text;
			}

			:-moz-placeholder { /* Firefox 18- */
				text-align: left;  
				color: $input-placeholder-text;
			}

			::-moz-placeholder {  /* Firefox 19+ */
				text-align: left;  
				color: $input-placeholder-text;
			}

			:-ms-input-placeholder {  
				text-align: left; 
				color: $input-placeholder-text;
			}
			.btn{
				margin-top: 25px;
				width: 200px;
				height: 50px;
			}
		}
		.reset-error-text{
			height: 100%;
			text-align: center;
			p{	
				margin-top: 25%;
				font-size: 24px;

			}
		}
	}
}