<div class="createtemplate-richtext-section">
  <!-- <app-alerts></app-alerts>  -->
  <div class="row">
    <div class="col-md-12">
      <div class="createtemplate-rich-text-border">
        <div class="row">
          <div class="col-md-12">
            <!-- <app-grape-builder></app-grape-builder> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-t-2">
      <div class="col-md-2">
        <div class="createtemplate-savedraft">
        <button type="button" class="btn btn-primary" (click)="saveAsDraft($event)">Save Draft</button>
        </div>
      </div>
      <div class="col-md-2">
        <div class="createtemplate-cancel">
          <button type="button" class="btn btn-secondary" (click)="sendAsCancel($event)">Cancel</button>
          </div>
         </div>
         <div class="col-md-8 text-right">
           <div class="createtemplate-send">
            <button type="button" class="btn btn-primary" (click)="sendAsEvent($event)">Next</button>
            </div>
         </div>
    </div>
</div>
